body {
    background-image: url('https://i.pinimg.com/originals/27/72/d7/2772d7c005983824a733db78eec793ac.png');
    background-size: cover; /* para ajustar a imagem ao tamanho da tela */
    background-repeat: no-repeat; /* para evitar a repetição da imagem */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h2{
    text-align: center;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba(77, 61, 61, 0.18);
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}